<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452103600428-u4o511beigih3dfsghknb9cpdme0daa2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452103600428-u4o511beigih3dfsghknb9cpdme0daa2</string>
	<key>API_KEY</key>
	<string>AIzaSyCSrd8gRq1rjD0OZNr9oG3fkHZVkCYxoow</string>
	<key>GCM_SENDER_ID</key>
	<string>452103600428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.malakoipechyva.FireNotes</string>
	<key>PROJECT_ID</key>
	<string>firenotes-38ebe</string>
	<key>STORAGE_BUCKET</key>
	<string>firenotes-38ebe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452103600428:ios:83953707293a61b64ed489</string>
</dict>
</plist>